In [1]:
# %load ../../preconfig.py
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)
plt.rcParams['axes.grid'] = False

#import numpy as np
import pandas as pd
import sklearn

#import itertools

### 3.2.1 Example: Prostate Cancer

In [2]:
data = pd.read_csv('data/prostate.data', sep='\t', index_col=0)
data.head(5)

,lcavol,lweight,age,lbph,svi,lcp,gleason,pgg45,lpsa,train
1,-0.579818,2.769459,50,-1.386294,0,-1.386294,6,0,-0.430783,T
2,-0.994252,3.319626,58,-1.386294,0,-1.386294,6,0,-0.162519,T
3,-0.510826,2.691243,74,-1.386294,0,-1.386294,7,20,-0.162519,T
4,-1.203973,3.282789,58,-1.386294,0,-1.386294,6,0,-0.162519,T
5,0.751416,3.432373,62,-1.386294,0,-1.386294,6,0,0.371564,T

In [3]:
data.dtypes

lcavol     float64
lweight    float64
age          int64
lbph       float64
svi          int64
lcp        float64
gleason      int64
pgg45        int64
lpsa       float64
train       object
dtype: object

In [4]:
data.describe()

,lcavol,lweight,age,lbph,svi,lcp,gleason,pgg45,lpsa
count,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000
mean,1.350010,3.628943,63.865979,0.100356,0.216495,-0.179366,6.752577,24.381443,2.478387
std,1.178625,0.428411,7.445117,1.450807,0.413995,1.398250,0.722134,28.204035,1.154329
min,-1.347074,2.374906,41.000000,-1.386294,0.000000,-1.386294,6.000000,0.000000,-0.430783
25%,0.512824,3.375880,60.000000,-1.386294,0.000000,-1.386294,6.000000,0.000000,1.731656
50%,1.446919,3.623007,65.000000,0.300105,0.000000,-0.798508,7.000000,15.000000,2.591516
75%,2.127041,3.876396,68.000000,1.558145,0.000000,1.178655,7.000000,40.000000,3.056357
max,3.821004,4.780383,79.000000,2.326302,1.000000,2.904165,9.000000,100.000000,5.582932

In [5]:
data.corr()

,lcavol,lweight,age,lbph,svi,lcp,gleason,pgg45,lpsa
lcavol,1.000000,0.280521,0.225000,0.027350,0.538845,0.675310,0.432417,0.433652,0.734460
lweight,0.280521,1.000000,0.347969,0.442264,0.155385,0.164537,0.056882,0.107354,0.433319
age,0.225000,0.347969,1.000000,0.350186,0.117658,0.127668,0.268892,0.276112,0.169593
lbph,0.027350,0.442264,0.350186,1.000000,-0.085843,-0.006999,0.077820,0.078460,0.179809
svi,0.538845,0.155385,0.117658,-0.085843,1.000000,0.673111,0.320412,0.457648,0.566218
lcp,0.675310,0.164537,0.127668,-0.006999,0.673111,1.000000,0.514830,0.631528,0.548813
gleason,0.432417,0.056882,0.268892,0.077820,0.320412,0.514830,1.000000,0.751905,0.368987
pgg45,0.433652,0.107354,0.276112,0.078460,0.457648,0.631528,0.751905,1.000000,0.422316
lpsa,0.734460,0.433319,0.169593,0.179809,0.566218,0.548813,0.368987,0.422316,1.000000

### 线性拟合

In [6]:
# Linear Regreession
data.head(5)

,lcavol,lweight,age,lbph,svi,lcp,gleason,pgg45,lpsa,train
1,-0.579818,2.769459,50,-1.386294,0,-1.386294,6,0,-0.430783,T
2,-0.994252,3.319626,58,-1.386294,0,-1.386294,6,0,-0.162519,T
3,-0.510826,2.691243,74,-1.386294,0,-1.386294,7,20,-0.162519,T
4,-1.203973,3.282789,58,-1.386294,0,-1.386294,6,0,-0.162519,T
5,0.751416,3.432373,62,-1.386294,0,-1.386294,6,0,0.371564,T

In [7]:
data['gleason'].value_counts()

7    56
6    35
9     5
8     1
Name: gleason, dtype: int64

In [8]:
data['svi'].value_counts()

0    76
1    21
Name: svi, dtype: int64

In [13]:
train_X = data.query('train == "T"').loc[:, 'lcavol':'pgg45']
train_y = data.query('train == "T"').loc[:, 'lpsa']

test_X = data.query('train == "F"').loc[:, 'lcavol':'pgg45']
test_y = data.query('train == "F"').loc[:, 'lpsa']

In [15]:
#standalization
from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()

In [24]:
train_X_s = pd.DataFrame(scaler.fit_transform(train_X), columns=train_X.columns)
train_X_s.head(5)

     lcavol   lweight       age  lbph  svi  lcp   gleason  pgg45
0  0.148460  0.164023  0.236842   0.0  0.0  0.0  0.000000    0.0
1  0.068269  0.392737  0.447368   0.0  0.0  0.0  0.000000    0.0
2  0.161810  0.131507  0.868421   0.0  0.0  0.0  0.333333    0.2
3  0.027689  0.377423  0.447368   0.0  0.0  0.0  0.000000    0.0
4  0.406048  0.439608  0.552632   0.0  0.0  0.0  0.000000    0.0

In [18]:
test_X_s = pd.DataFrame(scaler.transform(test_X), columns=test_X.columns)
test_X_s.head(5)

     lcavol   lweight       age      lbph  svi       lcp   gleason  pgg45
0  0.403291  0.456713  0.605263  0.539105  0.0  0.000000  0.000000   0.00
1  0.110398  0.484146  0.157895  0.000000  0.0  0.000000  0.000000   0.00
2  0.303830  0.361524  0.578947  0.000000  0.0  0.000000  0.000000   0.00
3  0.494003  0.443618  0.421053  0.000000  0.0  0.236334  0.333333   0.05
4  0.659106  0.468155  0.500000  0.770635  0.0  0.676313  0.333333   0.20

In [19]:
#fit
from sklearn import linear_model
clf = linear_model.LinearRegression()

In [20]:
clf.fit(X=train_X_s, y=train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [21]:
clf.score(X=test_X_s, y=test_y)

0.50337985023818121

In [29]:
#pvalue
F, pval = sklearn.feature_selection.f_regression(train_X_s, train_y)

In [30]:
F

array([ 75.54554519,  20.01552718,   3.5524608 ,   4.82761579,
        29.21962576,  20.44983531,   8.63409916,  16.32593503])

In [32]:
pval

array([  1.73313426e-12,   3.16123043e-05,   6.39292432e-02,
         3.15776433e-02,   9.87926650e-07,   2.65917991e-05,
         4.56195708e-03,   1.43507396e-04])